.MuiToolbar-root {
  display: initial !important; /* not ideal but lazy. */
}

.MuiTableSortLabel-icon {
  color: #cdd2ff !important;
}

.MuiOutlinedInput-input {
  color: black
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cdd2ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}